.app-wrapper {
  width: 1920px;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2f 10fr;
  grid-gap: 5px;
  margin: 0 auto;
}
.app-wrapper-content {
  grid-area: content;
  background-color: rgb(240, 54, 224);
}
